@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: white;
    font-family: 'Open Sans', serif;
    font-size: 14px
}
:root {
    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --white: #fff;
    --grey: #959595;
    --grey2: #666;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffcc00;
    --green: #59b210;
    --blue: rgb(56, 10, 223);
    --xanhduong: #06c1d4;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  


 body,
input {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    color: var(--black);
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}
  
img {
    max-width: 100%;
}
  
h3,
h4 {
    font-weight: 500;
}
  
  /*
  ======================
  Header
  ======================
  */
  
  .header {
    position:fixed;
    width:100%;
    z-index: 3;
  }
  
  .container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }

  .navigation{
      position: relative;
      background-color: var(--xanhduong);
      height:7rem;
  }

  .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 7rem;
      width: 100%;
      padding: 0 1rem;
  }

  .nav__logo a{
      font-size:2.5rem;
      color:var(--black);
      padding: 1.6rem;
      font-weight: 700;
  }

.nav__list li {
    position: relative;
}
.nav_menu{
    width: 50%;
}

.subnav::before{
    position: absolute;
    top:-28px;
    left: 0;
    right: 0;
    content: "";
    height:30px;
    width: 260px; 
}

.nav__item{
    position: relative;
}

.nav__list .subnav{
    position: absolute;
    background-color: #fff;
    margin-top:24px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    border-radius: 1rem;
}

.nav__list .subnav li a span{
    position: relative;
}

.nav__list .subnav span:hover::before{
    width:100%;
}

.nav__list .subnav span::before{
    position: absolute;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    width:0;
    left:0;
    bottom: -1px;
    content:"";
    height:1px;
}
.nav__list li:hover .subnav {
    opacity: 1;
    visibility: visible;
}

.subnav{
    min-width: 260px;
}

.nav__list .subnav li{
    display: block;
}

.nav__list .subnav a{
    color: #000;
    padding:0 16px;
    line-height: 38px;
}
.nav__list{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

.nav__item:not(:last-child)
{
    margin-right: 1.6rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited{
    display: inline-block;
    font-size:1.6rem;
    text-transform:uppercase;
    color: var(--black);
    transition: color .3s ease-in-out;
}
.nav__list .nav__link:hover{
    color: rgb(245, 19, 19);
}

.nav__icons{
    display: flex;
    position: relative;
}

.nav__icons .icon__item i {
    width:1.6rem;
    height:1.6rem;
}

.nav__icons .icon__item .fa-user{
    margin-left:2px;
}

.nav__icons .icon__item .fa-shopping-cart{
    margin-right:2px;
}

.nav__icons .icon__item{
    display: flex;
    justify-self:center;
    align-items:center;
    padding: .7rem;
    border: 1px solid var(--black);
    border-radius:50%;
    transition: all .3s ease-in-out;
}

.nav__icons .icon__item:link,
.nav__icons .icon__item:visited{
    color:var(--black); 
}

.nav__icons .icon__item:hover{
    background-color: var(--orange);
    border: 1px solid var(--black);
}

.nav__icons .icon__item:not(:last-child){
    margin-right: 1rem;
}

.nav__icons #cart__total{
    font-size:1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--orange);
    padding: .2rem .4rem;
    border-radius: 100%;
    color: var(--primaryColor);
}
.item-cart {
    position: relative;
}
.cart-dropdown{
    position: absolute;
    font-size: 1.4rem;
    background-color:#fff;
    max-height: 500px;
    min-width: 250px;
    top:50px;
    padding: 20px;
    overflow-y: scroll;
    margin-left: -11rem;
    scroll-behavior: smooth;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    border-radius: 1rem;
}
.item-cart:hover .cart-dropdown{
    opacity: 1;
    visibility:visible;
}
.cart-dropdown .product-cart{
    display: flex;
    margin-bottom: 15px;
}
.cart-dropdown .img-cart{
    flex-basis: 20%;
    -ms-flex-preferred-size: 15%;
}

.cart-dropdown .name-Pro, .cart-dropdown .soLuong{
    margin-bottom: 5px;
    margin-left: 10px;
}

.cart-dropdown .soLuongSP{
    font-weight: 700;
}

.cart-dropdown  .count-products{
    margin-bottom: 10px;
}

.cart-dropdown .product-cart:last-child{
    margin-bottom: -5px;
}

.cart-dropdown .product-cart img{
    height: 50px;
    width: 50px;
}

.cart-dropdown .btn-Cart{
    padding: 12px;
    padding-right: 4.5rem;
    background-color: var(--xanhduong);
    border-radius: 1rem;
}
.cart-dropdown .btn-Cart span{
    text-align: center;
    width: 123%;
    display: inline-block;
    cursor: pointer;
}
.nav .text-TimKiem input{
    appearance: none;
    width: 100%;
    border-radius: 46px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 60px 0 16px;
    border: 1px solid #e3e7ef;
    background: #fbfbfb;
    outline: 0;
}
.container-fluid {
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.40rem
}

.img-sm {
    max-width: 80px;
    max-height: 80px
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.table-shopping-cart .price-wrap {
    line-height: 1.2;
    margin-top: 10px;
}
.form-control{
    margin-top: 15px;
}

.table-shopping-cart .price {
    font-weight: bold;
    margin-right: 5px;
    display: block
}

.text-muted {
    color: #969696 !important
}

a {
    text-decoration: none !important
}



.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.dlist-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

[class*="dlist-"] {
    margin-bottom: 5px
}

.coupon {
    border-radius: 1px
}

.price {
    font-weight: 800px;
    
    color: #212529;
}



.btn-main {
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
    width: 100%
}

.btn-light {
    color: #ffffff;
    background-color: #F44336;
    border-color: #f8f9fa;
    font-size: 12px
}

.btn-light:hover {
    color: #ffffff;
    background-color: #F44336;
    border-color: #F44336
}

.btn-apply {
    font-size: 11px
}

.button {
    background-color:#06C1D4; /* Green */
    border: none;
    color: white;
    
    padding :14px 70px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 20px;
    
   
    white-space: nowrap;
    text-align: center;
    margin-left: 20px;
    margin-right:10px;
    
  }

  footer{
    background:var(--xanhduong);
    color: #000;
    padding: 30px 0;
    margin-top: 220px;
    position: relative;
}
.containerFT{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
.containerFT li{
    list-style: none;
    line-height: 2;
}
.containerFT a{
    text-decoration: none;
    color: #000;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.containerFT .itemsFT{
    flex-basis: 20%;
}
.containerFT .itemsFT .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #000;
}
.containerFT .itemsFT p{
    margin: 1.2em 0;
}

.containerFT .itemsFT h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: #000;
}
.containerFT .itemsFT h3::after{
    content:"";
    position: absolute;
    width: 80px;
    height: 3px;
    background: #000;
    bottom: -4px;
    left: 0;
}

footer .end{
    text-align: center;
    padding: 10px 0 0 0;
}

.boxHelpFT, .boxHelpFT input{
    width: 110%;
    height: 4rem;
    border-radius: 10px;
}

.categoryPro{
    padding-left:6rem;
    padding-top: 40px;
    width: 57%;
    margin: 0 auto;
}

.categoryPro .categoryName{
    height:5rem;
    text-align: center;
}

.categoryPro .categoryName h3{
    color:var(--xanhduong);
    font-weight: 600;
    font-size: 2.5rem;
}

.categoryPro .detailpro_CT{
    display: flex;
    max-height: 250rem;
}

.categoryPro .detailpro_CT .detailpro_left{
    margin-top:18px;
    width:20%;
    height: 25rem;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s linear;
    color:black;
    font-size: 1.7rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}



.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .card-total {
    background-color: white;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    margin: 10px;
  }
  .color-button {
    background-color: var(--xanhduong); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    
   
    font-size: 16px;
    margin-left: 2rem;
    display:none; position:relative;
    display:inline-block;
    margin-bottom: 20px;
  }


  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  
  
 
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  

footer{
    background:var(--xanhduong);
    color: #000;
    padding: 30px 0;
}
.containerFT{
    width: 100%;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
.containerFT li{
    list-style: none;
    line-height: 2;
}
.containerFT a{
    text-decoration: none;
    color: #000;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.containerFT .itemsFT{
    flex-basis: 20%;
}
.containerFT .itemsFT .logo{
    text-transform: capitalize;
    font-size: 1.4em;
    color: #000;
}
.containerFT .itemsFT p{
    margin: 1.2em 0;
}

.containerFT .itemsFT h3{
    position: relative;
    font-size: 1.3em;
    margin-bottom: 1rem;
    color: #000;
}


footer .end{
    text-align: center;
    padding: 10px 0 0 0;
}


